<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {{ url_for('static', filename='main.css') }}">
    <link rel="shortcut icon" href=""> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    
    <title>Cortical Playground</title>
</head>
<body>

    <header>
        <h1> Neural Style Transfer </h1>
    </header>

    

    
    <div class="display-container"> 
        
        <div class="video-wrapper">
            <video id="videoElement" autoplay="true"></video>
        </div>
        
        <div class="style-wrapper">
            <canvas id="canvas"></canvas>
        </div>
        
       

    </div>

    <div class="btn-wrapper">
        <button id="btn_start"> Start Webcam </button>
        <button id="btn_stop"> Stop Webcam </button>
    </div>
    <canvas id="emptyCanvas"></canvas>
    

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>